* {
    padding:0px;
    margin:0px;
}
body {
    margin: 0px;
    padding:0px;
}
.header {
    width:100%;
    height:60px;
    background-color: rgb(218, 175, 124);
    color:black;
}
.header h1 {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}
.nav {
    width: 100%;
    height:50px;
    text-align: center;
}
.nav ul{
    list-style-type: none;
    line-height: 50px;
}
.nav ul li{
    display: inline;
}
.nav ul li a{
    color: black;
    background-color: rgb(252, 252, 252);
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
}
.nav ul li a:visited{
    color: rgb(12, 12, 12);
    background-color: rgb(250, 144, 6);
}
.nav ul li a:hover{
    color:black;
    background-color: rgb(252, 252, 252);
}
.content1 {
    background-color: bisque;
    color: black;
    width: 50%;
    height: 200px;
    float: left;
}
.content1 p{
    padding: 10px;
}
.content1 h2 {
    text-align: center;
}
.content2 {
    background-color: white;
    color: black;
    width: 50%;
    height: 200px;
    float: right;
}
.content2 ul{
    list-style-type: none;
    line-height: 30px;
}
.content2 ul li{
    padding-left: 10px;
}
.content2 h2 {
    text-align: center;
}
.content4 {
    background-color: bisque;
    color: black;
    width: 50%;
    height: 200px;
    float: right;
    margin-top: 20px;
}
.content4 h2{
    text-align: center;
    padding: 0px;
}
.content5 {
    background-color: white;
    color: black;
    width: 50%;
    height: 200px;
    float: right;
    margin-top: 20px;
}
.content5 img{
    max-height: 400px;
    height: 70%;
    width: auto;
}
.content5 h2{
    text-align: center;
    padding: 0px;
}
.content5 h3{
    text-align: center;
    padding: 20px;
}
.footer{
    width: 100%;
    height: 50px;
    background: rgb(218, 175, 124);
    color: black; 
}
.footer p{
    text-align: center;
}