*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.first{
    position: relative;
    width: 100%;
    height: 120vh;
    background: whitesmoke;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
}
.details{
    margin-left: 8%;
    margin-top: 15%
}
.details h1{
    font-size: 50px;
    color: #212121;
    margin-top: 20px;
}
.details h2{
    font-size: 30px;
    color: #212121;
    margin-top: 10px;
    margin-bottom: 5px;
}
span{
    color: goldenrod;
    line-height: 22px;

}
.details a{
    background: #212121;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.photo{
    width: 45;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.photo img{
    height: 40%;
    position: absolute;
    left: 30%;
    bottom: 200px;
    right: 50%;
    transform: translateX(-70%);
    transition: bottom 1s left 1s;
}
.footer{
    background: #000;
    width: 95.5vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer  p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
 }
.footer span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
 }
